body {
  font-family: serif;
  color: #2F4F4F;
  background-image: url("bg.jpg")
 }

h1{
  font-size: 60px;
}

p{
color: black;
padding:30px;
font-size:30px;
text-align: center;
}

#flag{
height: 100%;
width:100%;
}

button{
  font-size: 20px;
  text-align:center;
  padding: 20px;
  position: relative;
  left:35%;
  top: 10%;
}
